push:interpreter.instructions.factories.PushFactory
add:interpreter.instructions.factories.AddFactory
sub:interpreter.instructions.factories.SubFactory
mul:interpreter.instructions.factories.MulFactory
jmp:interpreter.instructions.factories.JumpFactory
jmpg:interpreter.instructions.factories.JumpIfGreaterThanFactory
load:interpreter.instructions.factories.LoadFactory
store:interpreter.instructions.factories.StoreFactory
input:interpreter.instructions.factories.InputFactory
output:interpreter.instructions.factories.OutputFactory